<%= form_with model: @category, local: true  do |f| %>

 <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
<%= f.label :Category_Name %><br />
<%= f.text_field(:category_name) %>
<br>
<%= f.file_field :images, multiple: true %>

<div class="actions">
<%= f.submit "Add" %>
</div>
<% end %>

<%= button_to 'Back', categories_path, :method => :get %>